<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<base href="/">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="app/appStyle.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<style>
  .text{
    font-size: 18px;
  }
</style>

<link rel="stylesheet" ng-href="{{css}}">


<head>
  <title>Timecapsule</title>
</head>

<body>

  <div class="Homebar">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">
            <img style="height: 20px; width: 60px;" src="Logo.png"></img>
          </a>
          <a class="navbar-brand" href="#/MyCapsules">Time Capsule</a>

        </div>

        <div class="collapse navbar-collapse" id="myNavbar" style="color:white">
          <ul class="nav navbar-nav navbar-right">
            <li ng-click="navCreate1()" ng-if="loggedIn">
              <span class="glyphicon glyphicon-time text"></span> Create</li>
            <li class="active" ng-click="navMyCapsule()" ng-if="loggedIn">
              <span class="glyphicon glyphicon-home text"></span> MyCapsules</li>
            <li ng-click="navSignout()" ng-if="loggedIn">
              <span class="glyphicon glyphicon-user text" ></span> Sign out</li>
            <li class="active" ng-click="home()" ng-if="!loggedIn">
              <span class="glyphicon glyphicon-home text">Home</span>
            </li >
            <li ng-click="signUp()" ng-if="!loggedIn">
              <span class="glyphicon glyphicon-user text">Sign Up</span>
            </li>
            <li ng-click="logIn()" ng-if="!loggedIn">

              <span class="glyphicon glyphicon-log-in text">Login</span>
            </li>
          </ul>


        </div>
      </div>
    </nav>
  </div>


  <div ng-view></div>



</body>
<script type='text/javascript' src="app.js" charset="UTF-8"></script>
<script type='text/javascript' src="app/services/AuthService.js" charset="UTF-8"></script>
<script type='text/javascript' src="app/controllers/LoginController.js" charset="UTF-8"></script>
<script type='text/javascript' src="app/controllers/RegistrationController.js" charset="UTF-8"></script>
<script type='text/javascript' src="app/controllers/CreateController.js" charset="UTF-8"></script>
<script type='text/javascript' src="app/controllers/MyCapsuleController.js" charset="UTF-8"></script>
<script type='text/javascript' src="app/controllers/EventController.js" charset="UTF-8"></script>
<script type='text/javascript' src="app/controllers/Event_UploadMoreController.js" charset="UTF-8"></script>


<script type='text/javascript' src="./app/mainController.js" charset="UTF-8"></script>
<!-- <script type='text/javascript' src="app/registerController.js" charset="UTF-8"></script> -->
<!-- <script type='text/javascript' src="app/detailCtrl.js"></script> -->


</html>