<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
	
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="Create.css">

<style>
		
		.fillinbox{
			border-radius: 20px;
			text-align: center;
			color:#939594;
			align-content: center;
			padding: 2px;
			margin:10px;}
			
	
</style>

</head>

<body>
	


<div class="container boxshadow center">
	
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:70%">
				70%
    		</div>
		</div>
		
	   <div class="center " >
			
				<div>
					<h4 class="fs-title" style="margin-top: 20px" >Invite friends</h4>
    				<h5 class="fs-subtitle" style="margin-bottom: 20px">Copy this link to send to your friends</h5>
											   
				 <a href ="https://www.w3schools.com/howto/default.asp"> https://www.w3schools.com/howto/default.asp</a> 

					
				</div>
		   		
		   
		   		<div class="row">
					  <button  ng-click="navCreate7()" class="btn btn-info button col-md-6" style="margin-top: 50px; margin-bottom: 20px"  > Back</button>
   			 		   <button  ng-click="navCreate9()" class="btn btn-info button col-md-6" style="margin-top: 50px; margin-bottom: 20px"  > Next </button>
		        </div>
		 
		    
	  </div>
</div>
	
		 
	
</body>
</html>
