<!doctype html>
<html><head>
<meta charset="UTF-8">
<title>Untitled Document</title>
	
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
 <link href="bootstrap-multiEmail":"git@github.com:ThinkBigPartners/bootstrap-multiEmail.git">
<link href="/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
<link href="/bower_components/bootstrap-multiEmail/src/bootstrap-multiEmail.css">
<script src="/bower_components/jquery-validation/jquery.validate.js"></script>
<script src="/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script src="/bower_components/bootstrap-multiEmail/src/bootstrap-multiEmail.js"></script>
	
<link rel="stylesheet" type="text/css" href="Create.css">
		
	
</head>

<body>
	

<div class="container boxshadow ">
	
		<div>
		 <div class="progress-bar" style="width:70%"></div>
	
		</div>
		
	   <div class="center " >
			
				<div>
					<h4 class="fs-title"  >Choose an option </h4>
    				<h5 class="fs-subtitle">Collaborate with people to create time capsule</h5>
				</div>
		 
		 		<div class="row">
					 <button ng-click="navMyCapsule()" class="btn btn-dark col-md-6" style="margin-top: 50px; margin-bottom: 20px; background-color:#02181E; color:white"> Done</button>
					
					<button  ng-click="navCreate7()" class="btn btn-info button col-md-6" style="margin-top: 50px; margin-bottom: 20px" onclick="Myf()" > Collaborate </button>
		        </div>
				
	  </div>
</div>
		 
<!-- 
<script>
	function Myf(){
		alert("You can access the link later on your homepage under the section sent ");
	}
</script>
-->
	
</body>
</html>
