<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
	
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="Create.css">

	

</head>

<body>

<div class="container boxshadow center">
	  <!--   <div >
		
			<div style="text-align:center">
 				 <span class="dot" onclick="currentSlide(1)"></span> 
 				 <span class="dot" onclick="currentSlide(2)"></span> 
 	   		     <span class="dot" onclick="currentSlide(3)"></span> 
		 		 <span class="dot" onclick="currentSlide(4)"></span> 

			</div>
	
	   </div>-->
	
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:95%">
				95%
    		</div>
		</div>
		
	   <div class="center " >
			
				<div>
				  <h4 class="fs-title" style="margin-top: 20px" >Add recipient</h4>
    				<h5 class="fs-subtitle" style="margin-bottom: 20px">Add their email addresses below who will recieve the time capsule </h5>
					
					<input class="fillinbox"type="text" name="name" placeholder="john@gmaial.com, sam@gmail.com"  style="width: 370px;  height: 30px;" />

  			    	<!--  <input  class="col-md-4" type="text" name="day" placeholder="DD" maxlength="2px" >
					<input  class="col-md-4" type="text" name="month" placeholder="MM" maxlength="2px"/>
					<input  class="col-md-4" type="text" name="year" placeholder="YY " maxlength="4px" />
					-->		
					
				</div>
		 
				

					<!-- <input class="col-md-4" type="text" name="hour" placeholder="H" maxlength="2px"/>
					<input  class="col-md-4" type="text" name="minute" placeholder="M" maxlength="2px" />
					<input  class="col-md-4" type="text" name="second" placeholder="S" maxlength="2px" />
					-->	
		   		
		   		
		   
		   		<div class="row">
					 <button ng-click="navCreate4()" class="btn btn-info button col-md-6" style="margin-top: 50px; margin-bottom: 20px"  > Back</button>
   			 		 <button  ng-click="navCreate6()" class="btn btn-info button col-md-6" style="margin-top: 50px; margin-bottom: 20px"  > Next </button>
		        </div>
		 
		    
	  </div>
</div>
	
		 
	
</body>
</html>
