<div class="container-fluid">
    
	<div class="row">
	<h1 style="text-align: center"> My Capsules</h1>
		<h3 style="text-align: center"> Listed are all your time capsules</h3><br>
	</div>
	
	<!-- If no capsules-->
	<div ng-if="!capsules || capsules.length &lt;= 0">
		<span  style=" margin-top: 45px; margin-bottom: 25px;  text-align: center;  display:block; font-size: 200px; font-weight: 10px ; color:#D9D9D9 " class="glyphicon glyphicon-time" ></span> 
		
		<h5 style="text-align: center">There are no time capsules created yet</h5>
		<div class="center-block text-center" >
		<button ng-click="navCreate1()" class="btn btn-info button " style="margin-top: 25px; "  > Create</button></div>
	</div>

	<div class="row">
		<div class=" col-lg-4  col-md-6 col-sm-6 col-xs-12" ng-repeat="capsule in capsules">
			<div>
				<img class="image" src="{{ capsule.coverphoto }}" alt="image">
				<!-- Goes to MyCapsuleController -->
				<div ng-click="navToEvent(capsule.CapsuleID)" class=" img__overlay"><span class="glyphicon glyphicon-pencil" style=" margin:50%; color: #09A896; font-size:25px "></span></div>
			
			<h4>{{ capsule.name }}</h5>
			<h5>{{ capsule.description }}</h5>
			<h5> Receive date: {{ capsule.Recieved_Date | date }}</h5>
			<br>
			</div>
		</div>
	</div>

		
	
</div>
